.nav-list{
  padding-left: 0;
}
.mobile-menu-toggle{
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 15px;
  float:right;
}
.listing{
  display: inline-block;
  width: 32%;
}
.listing .description{
  display: none;
}
@media screen and (max-width: 720px){
  .logo{
    display: none;
  }
  .title{
    font-size: 20px;
  }
  .nav-right{
    float: left;
    width: 100%;
  }
  .nav-list{
    display: none;
  }
  .nav-list.open{
    display: block;
  }
  .nav-list.open li{
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1024px){
  .listing{
    width: 49%;
  }
}
@media screen and (max-width: 572px){
  .listing{
    width: 100%;
  }
}
@media screen and (min-width: 720px){
  .mobile-menu-toggle{
    display: none;
  }
}

.listing{
  transition: all .25s linear;
}
.listing.open{
  width: 100%;
}
.listing.open img{
  width: 50%;
  float:left;
}
.listing.open .description{
  display: inline-block;
  float:left;
  width: 50%;
}